  @media (max-width:768px){
    .container{
        width:100%;
    }
    /* banner section */
    .banner-head h1 {
        font-size: 17px;
        width:33%;
    }
    /* box-section */
      .box1 h5{
        font-size: 17px;
      }
      .box2 .banner-btn{
        font-size: 13px;
        padding: 0px;
      }
    .Features {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
    }
    .port-sec {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
    }
    .Recent h1::after {
        width: 15%;
    }
    .Recent3{
        margin-top: 40px;
    }
    .Recent3 h1::after {
       width:20%;
    }
.footer-paras {
    display: flex;
    flex-wrap: wrap;
}
.footer-con h1 {
   text-align: center;
} .footer-con2 h1 {
    text-align: center;
}

.finish-1 {
    text-align: center;
}

.finish-2 {
    margin-top: 30px;
}
  }
