* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 0 15px;

}

.nav-sec {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.menubar {
    display: flex;
    justify-content: flex-end;
}

li {
    display: block;
}

.menubar .nav-link a {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    padding: 8px 15px;
    font-family: "Open Sans", sans-serif;
}

.menubar .nav-link .active {
    color: green;
}
/* banner-sec */
.banner-sec {
    padding: 120px 0;
    background-image: url("images/laptop.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-head h1 {
    margin: 10px 0;
    font-size: 35px;
    font-weight: 600;
    background-color: rgba(135, 206, 250, 0.651);
    border-radius: 5px;
    width:45%;
    padding: 5px;
}

.banner-head h4 {
    margin: 5px 0;
    font-size: 25px;
    color: green;
    background-color:#000000c9;
    border-radius: 5px;
    width:35%;
    padding: 8px;
}
.banner-btn {
    padding: 10px;
    margin: 10px 0;
    background-color: lightgreen;
    border: solid 1px #000;
    border-radius: 5px;
}
.hori-box{
    display: flex;
    background-color: #f0e6e696;
    margin:30px 0;
    padding: 10px;
    border-left: solid 2px green;
}

/* features-sec */
.Features-sec {
    padding: 50px 0;
}

.Features {
    display: flex;
    justify-content: space-between;
}

.features-box {
    padding: 20px;
}

.Features h1 {
    font-size: 18px;
}

.Features p {
    margin-top: 20px;
    color: grey;
}

.Features #fa1 {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
}

.learns {
    display: flex;
    float: right;
    line-height: 40px;
}

.learns a {
    text-decoration: none;
    color: #000;
}
/* adding section */
.Recent h1 {
    position: relative;
    font-size: 30px;
    margin: 0 10px;
}

.Recent h1::after {
    position: absolute;
    content: "";
    width: 30%;
    border-top-style: double;
    color: grey;
    top: 15px;
    bottom: 0;
    margin-left: 10px;
}

.port-sec {
    display: flex;
    justify-content: space-between;
}

.adding img {
    margin-top: 40px;
    width: 90%;
    padding: 0 10px;
}
/* why  choose */
.portfolio-sec{
    padding: 50px 0;
}
.Recent3 h1 {
    position: relative;
    font-size: 26px;
    margin: -36px 10px;
}
.Recent3 h1::after {
    position: absolute;
    content: "";
    width: 50%;
    border-top-style: double;
    color: grey;
    top: 15px;
    bottom: 0;
    margin-left: 10px;
}
.client-box {
    margin-top: 70px;
    background-color: antiquewhite;
    padding: 20px;
}

.client-box i {
    line-height: 30px;
}

.profile-para {
    margin-top: 20px;
}

.profile i {
    font-size: 30px;
    margin: 0 5px;
}
/* footer-sec   */
.footer-sec {
    padding: 50px 0;
    background-color: #000000c9;
}

.footer-paras {
    display: flex;
    flex-wrap: nowrap;
}

.footer-con h1 {
    color: #fff;
}

.footer-con2 h1 {
    color: lightgrey;
    font-size: 25px;
}

.footer-con {
    color: grey;
}

.footer-con2 {
    color: lightgray;
    margin: 0 10px;
}

.footer-con2 h6 {
    margin-top: 20px;
}

.footer-con2 p {
    margin-top: 25px;
}

.post-bottom {
    border-bottom: solid 1px grey;
    line-height: 35px;
}

.post-bottom2 {
    border-bottom: solid 1px grey;
    line-height: 25px;
}

.one-boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 25px;
}

.one {
    background-color: #fff;
    margin: 5px;
    padding: 27px;
}

.finish-sec {
    font-family: "Open Sans", sans-serif;
    padding: 40px 0;
    background-color: #000;
    color: #fff;
}

.finish-1 a {
    color: green;
    font-size: 17px;
    text-decoration: none;
}

.finish-2 {
    text-align: center;
}

.finish-2 i {
    color: #fff;
    font-size: 23px;
    width: 40px;
}